---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "bootstrap/scss/functions";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$font-family-base: Helvetica Neue;
$font-family-sans-serif: Roboto Condensed;

$smu-blue:  #354c97;
$smu-red:     #cc0000;
$smu-purple: #522d80;
$princeton-orange: rgba(231,117,0,1); // Princeton
$smu-teal: rgba(89,195,195,1);

$light: $white;
$dark: $gray-900;


$primary: $smu-blue;
$secondary: $black;
$success: $smu-red;
$info: $smu-teal;
$warning: $smu-red;
$danger: $smu-red;

$font-size-root:              null;
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875;
$font-size-lg:                $font-size-base * 1.25;

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

$font-weight-base:            $font-weight-normal;

$line-height-base:            1.5;
$line-height-sm:              1.25;
$line-height-lg:              2;

$h1-font-size:                $font-size-base * 1.4;
$h2-font-size:                $font-size-base * 1.3;
$h3-font-size:                $font-size-base * 1.2;
$h4-font-size:                $font-size-base * 1.1;
$h5-font-size:                $font-size-base;
$h6-font-size:                $font-size-base;

$navbar-dark-color: $info;
$navbar-dark-color: $warning;
$navbar-dark-color: $danger;



body {
  padding-top: 70px;
}

$navbar-dark-color: $primary;
$navbar-light-color: $info;


//@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";


// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"papers",
"newsbox"
;
