---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$font-family-sans-serif: Lato;

html {font-family: 'Lato', sans-serif;}

$smu-blue:      #354c97;
$smu-red:      #cc0000;
$smu-purple: #522d80;
$orange: rgba(231,117,0,1); // Princeton
$smu-teal: rgba(89,195,195,1);


$primary: $smu-blue;
$secondary: $smu-red;
$success: $smu-teal;
$info: $smu-purple;
$warning: $orange;
$danger: magenta;
$light: $gray-100;
$dark: $gray-900;


/* $font-size-root:              null !default;
   $font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
   $font-size-sm:                $font-size-base * .875 !default;
   $font-size-lg:                $font-size-base * 1.25 !default;

   $font-weight-lighter:         lighter !default;
   $font-weight-light:           300 !default;
   $font-weight-normal:          400 !default;
   $font-weight-bold:            700 !default;
   $font-weight-bolder:          bolder !default;

   $font-weight-base:            $font-weight-normal !default;

   $line-height-base:            1.5 !default;
   $line-height-sm:              1.25 !default;
   $line-height-lg:              2 !default;

   $h1-font-size:                $font-size-base * 2 !default;
   $h2-font-size:                $font-size-base * 1.75 !default;
   $h3-font-size:                $font-size-base * 1.5 !default;
   $h4-font-size:                $font-size-base * 1.25 !default;
   $h5-font-size:                $font-size-base * 1.1 !default;
   $h6-font-size:                $font-size-base !default;


 */

/*
   @mixin media-query($device) {
   @media screen and (max-width: $device) {
   @content;
   }
   }

 */
@import "bootstrap/scss/bootstrap";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"papers",
"newsbox"
;
