
<!-- assign array to alist and then  include this file -->

{% assign alist = {{include.alist}} %}
{% assign coauthors = alist.author | where_exp:"author","author.family != 'Braun' " %}
 {% unless coauthors == empty %}<br>{% endunless %}
{% for auth in coauthors %}
{% capture name %}
{{ auth.given }} {{ auth.family }}
{% endcapture %}
{% if forloop.first == true %}
{% if forloop.last == true %}
(with {{ name | strip }})
{% else %}
{%if forloop.length > 1 %}
(with {{ name | strip |append: ","}}
{% else %}
(with {{ name | strip }}
{% endif %}
{% endif %}
{% else %}
{% if forloop.last == true %}
and {{ name | strip }})
{% else %}
{{ name | strip | append: ","}}
{% endif %}
{% endif %}
{% endfor %} <!-- end loop on authors -->
