    <!-- Footer -->
    <footer>
      <div class="container bg-primary text-light m-3 pt-3 pb-1">

	<div class="d-flex flex-row justify-content-between">

	  <div>
	    <ul style="list-style: none;">
	      <li>Michael Braun</li>
	      <li>Cox School of Business</li>
	      <li>Southern Methodist Universty</li>
	      <li>Dallas, TX 75275</li>
	    </ul>
	  </div>
	  <div>
	    <ul style="list-style: none;">
	      <li>Office:  Cox 2318</li>
	      <li>Email:  braunm@smu.edu</li>
	    </ul>
	  </div>

	</div>
	<div class="text-center">
          <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }} Michael Braun</p>
	</div>
        </div>
    </footer>
