<!-- Navigation -->


<!-- <div class="d-flex flex-wrap justify-content-center py-3"> -->
  <nav class="navbar navbar-expand-sm  navbar-dark bg-primary fixed-top border" id="navbar">
    <div class="container-sm">
      <a class="navbar-brand" href="/front/">Michael Braun</a>

      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
	<span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
	<ul class="navbar-nav ms-auto">
	   <li class="hidden"><a href="#page-top"></a></li>
	   <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
	   <li class="nav-item"><a class="nav-link" href="/papers/">Papers</a></li>
	   <li class="nav-item"><a class="nav-link" href="/computing/">Computing</a></li>
	   <li class="nav-item"><a class="nav-link" href="/teaching/">Teaching</a></li>
	  <li class="nav-item"><a class="nav-link" href="/blog/">Blog</a></li>
	</ul>
      </div>
    </div>
   </nav>
  <!-- </div> -->
