
{% assign ref=include.ref %}
{% assign modalID =   ref.id  | append: "Modal"  %}

{%if ref.DOI %}
{% assign publink = {{ref.DOI | prepend: "http://doi.org/"}} %}
{% elsif ref.URL%}
{% assign publink = {{ref.URL}} %}
{% else %}
{% assign publink= false%}
{% endif %}

{% capture vol-iss %}
{% if ref.volume %}
{% if ref.issue %}
{{ref.volume | append: ":" | append: ref.issue}}
{% else %}
{{ ref.volume}}
{% endif %}
{% endif %}
{% endcapture %}


<div class="paper-card" data-bs-toggle="modal"  data-bs-target="{{ modalID | prepend: "#" }}">
  <div class="d-flex justify-content-apart">
    <span class="col-2 text-left year">{{ref.year}}</span>
    <span class="col-10 text-right topic">{{ ref.topic }}</span>
  </div>
  <div class="title">{{ ref.title }} </div>
  <div class="body">
    <div class="journal py-2">
      {{ref.container-title | strip}}
      {% if ref.publisher %}
      <span class="publisher">{{ref.publisher}}</span>
      {% endif %}
    </div> <!-- journal -->
    <div class="authors">
      {% include authorlist2.html alist=ref %}
    </div>  <!-- authors -->
  </div> <!-- body -->
</div> <!-- card -->


{% include modal.html rx=ref %}
