

{%if ref.DOI %}
{% assign mainref = {{ref.DOI | prepend: "http://doi.org/"}} %}
{% elsif ref.URL%}
{% assign mainref = {{ref.URL}} %}
{% else %}
{% assign mainref = false  %}
{% endif %}

{% capture vol-iss %}
{% if ref.volume %}
{% if ref.issue %}
{{ref.volume | append: ":" | append: ref.issue}}
{% else %}
{{ ref.volume}}
{% endif %}
{% endif %}
{% endcapture %}

{% if mainref %}
<a class="title" href="{{mainref}}">{{ ref.title }}</a>
{% else %}
<span class="title">{{ ref.title }}</span>
{% endif %}
{% include authorlist.html alist=ref %}
<br>
{{ref.year}}: <em>{{ref.container-title | append: vol-iss | strip}}</em>
{% if ref.publisher %}
. {{ref.publisher}}.
{% endif %}
<div>
  {% if ref.abstract %}
  <a class="btn btn-abstract btn-sm" data-bs-target="#abstract-{{ref.id}}" data-bs-toggle="collapse">Abstract</a>
  <div class="collapse" id="abstract-{{ref.id}}">
    <div class="card card-body">
      {{ref.abstract |  markdownify}}
    </div>
  </div>
  {% endif %}
{% if mainref %}
<a class="btn btn-publisher btn-sm" href="{{mainref}}">Publisher</a>
{% endif %}
{% if ref.draft %}
<a class="btn btn-draft btn-sm" href="/assets/documents/papers/{{ref.id}}_draft.pdf">Draft</a>
{% endif %}
{% if ref.preprint %}
<a class="btn btn-preprint btn-sm" href="/assets/documents/papers/{{ref.id}}_preprint.pdf">Preprint</a>
{% endif %}
{% if ref.SSRN %}
<a class="btn btn-sm btn-ssrn" href="https://ssrn.com/abstract={{ref.SSRN}}">SSRN</a>
{% endif %}
{% if ref.supplemental %}
  <a class="btn btn-sm btn-supplemental" href="/assets/documents/papers/{{ref.id}}_supplemental.pdf">Supplemental</a>
  {% endif %}
</div>


<ul class="notes">
  {% for note in ref.notes %}
  <li>{% if note.link %}
    <a href="{{ note.link }}"> {{ note.note }}</a>
    {% else %}
    {{ note.note }}
    {% endif %}</li>
  {% endfor %}
</ul>




<!-- {% if ref.type == "working-paper" %}
     {% if ref.day %}
     {% capture dateYM %}
     {{ ref.year }}-{{ref.month}}-{{ref.day}}
     {% endcapture %}
     <em>Working paper</em> ({{ dateYM | date: "%Y-%B-%d" }})
     {% else %}
     {% capture dateYM %}
     {{ ref.year }}-{{ref.month}}-01
     {% endcapture %}
     <em>Working paper</em> ({{ dateYM | date: "%Y-%B" }})
     {% endif %}
     {% endif %} -->
