// For general elements of the site



header {font-family: $font-family-sans-serif, sans-serif;}
//body {font-family: $font-family-base, sans-serif;}


code {
  color: $secondary;
}

a {
  text-decoration: none;
//  -webkit-transition: all .2s ease-in-out;
//  -moz-transition: all .2s ease-in-out;
//  transition: all .1s ease-in-out;
  &:hover {
    color: $danger;
  }
}

.navbar {
  text-transform: uppercase;

  .navbar-brand {
    font-weight: 1000;
    font-size: $font-size-lg;
  }


}

.navbar-dark {
    background-color: $primary;
  .navbar-nav {
    .nav-link {
      color: white;
      &:hover {
	color: $danger;
      }
    }
  }
  .navbar-brand {
    color: $light;
    &:hover {
      color: $danger;
    }
  }
}



footer {
  background-color: $primary;
}

img {
  width: 300px;
  // height: auto;
}
