
// all cards on the site

.card {
  font-family: $font-family-sans-serif;
  border: 2px solid $success;
 // padding: .5 * $spacer;
  padding: 3px 8px 3px 8px;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background-color: $light;

  .topic {
      color: $success;
      text-align: left;
      font-size: $font-size-lg;
  }

  .body {
      ul {
          list-style-position: inside;
          padding: 1px;
      }
  }
}

.paper-card {
    @extend .card, .shadow;

    &:hover {
   //     @extend .shadow;
      border: 3px solid $primary;
      padding: inherit;
  }

  .topic {
      @extend .card-title;
      color: $success;
      text-align: right;
      font-size: $font-size-sm;
  }

  .title {
      @extend .card-subtitle;
      color: $primary;
      font-weight: $font-weight-normal;
  }

  .body {
      @extend .card-body;
      border: none;
      padding: 4px;
      padding-left: 8px;
  }

  .journal {
      font-style: italic;
  }
  .authors {
      font-style: normal;
      font-size: $font-size-sm;
  }
  .year {
      font-style: normal;
  }
  .publisher {
      font-size: $font-size-sm;
  }
}

// For job on front
.job {
  margin-top: 1rem;
  text-align: center;
  border: 2px solid;
  font-family: $font-family-sans-serif;
  font-size: $font-size-lg;
  line-height: .5;
  background-color: $light;
}
