
// all cards on the site

.card {
  font-family: $font-family-sans-serif;
  border: 2px solid $success;
 // padding: .5 * $spacer;
  padding: 3px 8px 3px 8px;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background-color: $light;

  .topic {
      color: $success;
      text-align: left;
      font-size: $font-size-lg;
  }

    .title {
      color: $primary;
      text-align: left;
      font-size: $font-size-base;
  }

  .body {
      ul {
          list-style-position: outside;
          margin: 0px;
      }
  }
}

.paper-card {
    @extend .card, .shadow;

    &:hover {
   //     @extend .shadow;
      border: 3px solid $primary;
      padding: inherit;
  }

  .topic {
      @extend .card-title;
      color: $success;
      text-align: right;
      font-size: $font-size-sm;
  }

  .title {
      @extend .card-subtitle;
      color: $primary;
      font-weight: $font-weight-normal;
  }

  .body {
      @extend .card-body;
      border: none;
      padding: 4px;
      padding-left: 8px;
  }

  .journal {
      font-style: italic;
  }
  .authors {
      font-style: normal;
      font-size: $font-size-sm;
  }
  .year {
      font-style: normal;
  }
  .publisher {
      font-size: $font-size-sm;
  }
}

.paper-modal {

  $modal-inner-padding: 1px;

  .authors {
    color: $secondary;
  }

  .title {
    color: $primary;
    font-weight: $font-weight-bold;
  }

  .journal {
    text-decoration: none;
  }

  // .modal-header {

  //   padding-top: 0.5rem;
  //   padding-bottom: 0.5rem
  // }

  .modal-body {
    line-height: 1.2rem;
    margin: 0;
    padding-top: 1px;
  }


    // Colors and variant for each button

  .btn-abstract {
      @extend .btn-outline-secondary;
  }

  .btn-publisher {
      @extend .btn-outline-secondary;
  }

  .btn-preprint {
      @extend .btn-outline-warning;
  }

  .btn-draft {
      @extend .btn-outline-info;
  }
  .btn-website {
      @extend .btn-outline-success;
  }
  .btn-ssrn {
      @extend .btn-outline-primary;
  }
  .btn-supplemental {
      @extend .btn-outline-primary;
  }
}









// For job on front
.job {
  margin-top: 1rem;
  text-align: center;
  border: 2px solid;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: .5;
  background-color: $light;
}
