/**
 * Site header.  Keep this, but change variables to bootstrap
 */
header {

  background: $light;
  // Positioning context for the mobile navigation icon
  position: relative;

  $navbar-dark-hover-color: $secondary;


  nav {
    @extend .navbar-light;
    @extend .bg-light;

    border-top: 4px solid $secondary;
    border-bottom: 4px solid $secondary;

    .navbar-brand {
      font-size: 1.5*$font-size-lg;
      font-weight: $font-weight-normal;
      font-family: $font-family-sans-serif;
      color: $primary;
      text-decoration: none
    }

    a  {
      color: $secondary;
    }


   }
}
