/*
   .site-footer {
   border-top: 1px solid $grey-color-light;
   padding-top: get_map($spacers,5);
   font-size: $font-size-sm;
   margin: get_map($spacers,5);
   }
 */
.cite {

  $modal-inner-padding: 1px;

  .authors {
    color: $secondary;
  }

  .title {
    color: $primary;
    font-weight: $font-weight-bold;
  }

  .journal {
    text-decoration: none;
  }




  .modal-header {

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .modal-body {
    line-height: 1.2rem;
    margin: 0;
    padding-top: 1px;
  }



    // Colors and variant for each button

    .btn-abstract {
      @extend .btn-outline-secondary;
    }

    .btn-publisher {
      @extend .btn-outline-secondary;
    }

    .btn-preprint {
      @extend .btn-outline-warning;
    }

    .btn-draft {
      @extend .btn-outline-info;
    }


    .btn-website {
      @extend .btn-outline-success;
    }


    .btn-ssrn {
      @extend .btn-outline-primary;
    }

    .btn-supplemental {
      @extend .btn-outline-primary;
    }

}
