
// List of papers.
// btn styles are only used for list class (with buttons)

.citelist {

  h2, h3 {
    font-weight: $font-weight-bold;
  }

  .topics {
    dt {
      font-size: $h4-font-size;
      font-weight: $font-weight-bold;
    }
  }

  .refs  {
    line-height: $line-height-base;
    list-style-type: none;
    > li {
      margin-top: $spacer;
    }

    .title {
      font-size: $font-size-base;
      text-decoration: none;

      a {
	color: $primary;
      }
    }
    ul.notes {
      list-style-type: square;
    }

    // Colors and variant for each button

    .btn-abstract {
      @extend .btn-outline-secondary;
    }

    .btn-publisher {
      @extend .btn-outline-secondary;
    }

    .btn-preprint {
      @extend .btn-outline-warning;
    }

    .btn-draft {
      @extend .btn-outline-info;
    }


    .btn-website {
      @extend .btn-outline-success;
    }

    .btn-ssrn {
      @extend .btn-outline-primary;
    }

    .btn-supplemental {
      @extend .btn-outline-primary;
    }



  }
}
