---
layout: default
---

{{ content }}

{% for yr in (2020..2022)  reversed %}
<h4>{{ yr }}</h4>
{% assign yrposts = site.posts | where:  yr, date | date: '%Y' %}
<div>
  {% for p in yrposts %}
  {% assign d = p.date | date: '%Y' %}
  {% if d == yr %}
  <p>{{d}}</p>
  {% endif %}
  {% endfor %}
</div>
</div>
<div class='row' data-masonry='{"percentPosition": true }'>
  {% for post in yr.posts  %}
  <div class='col-sm-12 col-md-4 col-lg-4 col-xl-3 py-1 my-1'>
    <div class='card'>
      <time class="card-topic" datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%b %e, %Y" }}</time>
      <a class="card-title" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      <div class='card-body'>
	{{ post.excerpt }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}
