---
layout: default
---



<div class="d-flex justify-content-around">
  <a class="btn btn-primary" align="center" href="/cv/">View My CV</a>
  <a class="btn btn-primary" align="center" href="https://scholar.google.com/citations?user=Rny0DIkAAAAJ&hl=en">Google Scholar</a>
</div>



<p>Topics:
  <table class="table table-sm table-borderless">
    {% tablerow top in site.data.citations.topic_order  cols:2%}
    <a  href="#{{ top.topic | remove: " "}}">{{ top.topic }}</a>
    {% endtablerow %}
  </table>
</p>


<!-- <div class="d-grid gap-2 d-md-block">
     {% for top in site.data.citations.topic_order %}
     <a class="btn btn-outline-dark btn-sm gap-2" href="#{{ top.topic | remove: " "}}">{{ top.topic }}</a>
     {% endfor %}
     </div> -->



<dl class="citelist">
  {% assign refs = site.data.citations.references %}
  {% for top in site.data.citations.topic_order %}
  <dt id="{{ top.topic | remove: " "}}"> {{ top.topic }}</dt>
  {% assign reftopic = refs | where: "topic", top.topic %}
  <dd> <ul>
    {% for ref in reftopic %}
    <li>{% include citation.html %}</li>

    {% if ref.DOI or ref.URL or ref.SSRN or ref.Download %}
    <div class="d-flex flex-sm-row justify-content-start align-items-center">
      <span class="btn btn-outline-dark btn-sm m-2 disabled">Access:</span>
      {% if ref.Download %}
      <a class="btn btn-outline-primary btn-sm m-2" href="/assets/papers/{{ ref.id }}_a.pdf">Preprint</a>
      {% endif %}
      {% if ref.DOI %}
      <a class="btn btn-outline-primary btn-sm m-2" href="http://doi.org/{{ ref.DOI }}">Publisher</a>
      {% endif %}
      {% if ref.URL %}
      <a class="btn btn-outline-primary btn-sm m-2" href="{{ ref.URL }}">Website</a>
      {% endif %}
      {% if ref.SSRN %}
      <a class="btn btn-outline-secondary btn-sm m-2" href="http://ssrn.com/abstract={{ ref.SSRN }}">SSRN</a>
      {% endif %}
    </div>
    {% endif %}







    {% endfor %} <!-- End loop on refs within topic -->
    </li>
  </ul></dd>
  {% endfor %} <!-- End loop on topics -->
</dl>
