---
layout: default
---



<div class="row g-0 justify-content-center">
  <img class='col-4' src='{{ page.pic1 }}'>
  <img class='col-4' src='{{ page.pic2 }}'>
  <img class="col-4" src='{{ page.pic3 }}'>
</div>



<!-- <div class="row justify-content-evenly mt-2" data-masonry='{"percentPosition": true }'> -->

  <div class="row p-3" data-masonry='{"percentPosition": true }'>\

    <div class="col-sm-12 col-md-6 py-1 my-1">
      <div class="card shadow">
        <!-- <div class='job pt-3 mx-1 my-1 rounded shadow'> -->
        <div class="body">
          <ul>
            <li class="list-group-item">Corrigan Reserach Professor</li>
            <li class="list-group-item">Associate Professor of Marketing</li>
            <li class="list-group-item">SMU Cox School of Business</li>
            <li class="list-group-item">Southern Methodist University</li>
          </ul>
        </div>
      </div>
    </div>
  </div>





<div class="my-3 p-3">
  <div class="row" data-masonry='{"percentPosition": true }'>
    {% assign cards=site.data.frontcards.cards %}  <!-- |sort: "order" % } -->
    {% for card in cards %}
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 py-1 my-1">
      <div class="card shadow">
	<h5 class="topic"> {{ card.topic }} </h5>
	<div class="body">
          <ul>
          {% for line in card.body.items %}
	 <li> {{ line }} </li>
          {% endfor %}
           </ul>
	</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



<div class="my-3 p-3">
  <h4>News</h4>
  <div class="row" data-masonry='{"percentPosition": true }'>

    {% for post in site.posts %}
    <div class='col-sm-12 col-md-4 col-lg-4 col-xl-3 py-1 my-1'>
      <div class='card shadow'>
	<h5 class="card-topic">{{ post.categories }}</h5>
	<p class="card-title"><a href="{{ post.url }}">
	  {% if post.card_prefix %}{{ post.card_prefix }}: {% endif %} {{ post.title }}</a></p>
	<div class='card-body pt-0'>
	  {{ post.excerpt }}
	</div>
      </div>
    </div>
    {% endfor %}
  </div>





</div>
