---
layout: default
---

<div class="row g-0 justify-content-center">
  <img class='col-4' src='{{ page.pic1 }}'>
  <img class='col-4' src='{{ page.pic2 }}'>
  <img class="col-4" src='{{ page.pic3 }}'>
</div>

<div class="row justify-content-evenly mt-2" data-masonry='{"percentPosition": true }'>

  <div class='col-sm-12 col-md-6'>
    <div class='job pt-3 mx-1 my-1 rounded'>
      <p>Corrigan Reserach Professor</p>
      <p>Associate Professor of Marketing</p>
    </div>
  </div>


  <div class='col-sm-12 col-md-6'>
    <div class='job pt-3 mx-1 my-1 rounded'>
      <p>SMU Cox School of Business</p>
      <p>Southern Methodist University</p>
    </div>
  </div>

</div>




<div class="my-3 p-3">
  <h4>About me</h4>
  <div class="row" data-masonry='{"percentPosition": true }'>
    {% assign cards=site.data.aboutme3.cards|sort: "order" %}
    {% for card in cards %}
    <div class="col-sm-{{ card.width[0] }} col-md-{{ card.width[1] }} col-lg-{{ card.width[2] }} col-xl-{{ card.width[3] }} py-1 my-1">
      <div class="card">
	<h5 class="topic"> {{ card.topic }} </h5>
	<!-- <p class="card-title"> {{ card.title }}</p> -->
	<div class="body pt-0">
           <ul class="list-group list-group-flush">
          {% for line in card.body.items %}
	 <li> {{ line }} </li>
          {% endfor %}
           </ul>
	</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



<div class="my-3 p-3">
  <h4>News</h4>
  <div class="row" data-masonry='{"percentPosition": true }'>

    {% for post in site.posts %}
    <div class='col-sm-12 col-md-4 col-lg-4 col-xl-3 py-1 my-1'>
      <div class='card'>
	<h5 class="card-topic">{{ post.categories }}</h5>
	<p class="card-title"><a href="{{ post.url }}">
	  {% if post.card_prefix %}{{ post.card_prefix }}: {% endif %} {{ post.title }}</a></p>
	<div class='card-body pt-0'>
	  {{ post.excerpt }}
	</div>
      </div>
    </div>



    {% endfor %}
  </div>





</div>
