---
layout: default
---

{{ content }}

<hr>



{% assign allrefs=site.data.papers.references %}
{% assign wps = allrefs | where: "type", "working-paper" %}
<div class="citelist">
  <h2 class="type">Working papers</h2>
  <div class='row' data-masonry='{"percentPosition": true }'>
    {% for ref in wps %}
    {% include paper.html %}
    {% endfor %}
  </div>
</div>
<hr>

<div class="citelist">
  <h2 class="type">Published articles</h2>
  <div class='row' data-masonry='{"percentPosition": true }'>
    {% assign articles = allrefs | where_exp: "allrefs", "allrefs.type contains 'article'" | sort:"year" %}
    {% for ref in articles reversed %}
    {% include paper.html topic = ref.topic  %}
    {% endfor %}

  </div>
</div>



<!--


     {% for top in site.data.papers.topic_order %}
     <dt id="{{ top.topic | remove: " "}}"> {{ top.topic }}</dt>
     {% assign refs = articles | where: "topic", top.topic | sort: "year" | reverse%}


     {% endfor %} <!-- End loop on topics -->
